<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
		<title>Zero Game</title>
		<link rel="shortcut icon" href="/favicon.ico" />
		<link rel="bookmark"href="/favicon.ico" />
		<!--<link rel="stylesheet" href="src/style/css/index.css" />-->
	</head>
	<script src=".<%= htmlWebpackPlugin.options.file %>/config/env.js?<%= htmlWebpackPlugin.options.times %>"></script>
	<script src=".<%= htmlWebpackPlugin.options.file %>/config/config.js?<%= htmlWebpackPlugin.options.times %>"></script>
	<script src="https://cdn.vaptcha.com/v.js?<%= htmlWebpackPlugin.options.times %>"></script>
	<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="http://webcdn.51xijiayi.com/public/js/html2canvas.min.js"></script>
	
     
	<body>		
		<div id="app-box"></div>		
		<div id="childFrame" style="display: none;"></div>

	</body>

	<script src="https://s22.cnzz.com/z_stat.php?id=1273630696&web_id=1273630696" language="JavaScript"></script>
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-118865621-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];

		function gtag() {
			dataLayer.push(arguments);
		}
		gtag('js', new Date());

		gtag('config', 'UA-118865621-1');
	</script>

</html>