.ranktitle {
  text-align: center;
  line-height: 45px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  margin-top: -10px;
  z-index: 30;
  width: 120px;
  height: 45px;
  background: #cf302f;
  position: absolute;
}
.ranknametset {
  position: absolute;
  z-index: 1;
  float: left;
  width: 410px;
  height: 360px;
  background-color: white;
  text-align: center;
  border: 5px solid black;
  position: relative;
}
.ranknametset .tit {
  font-weight: bold;
  height: 35px;
  color: white;
  background: black;
  line-height: 35px;
  letter-spacing: 3px;
}
.ranknametset .active_alert {
  font-weight: bold;
  background: black;
  color: white;
  width: 410px;
  height: 25px;
  line-height: 25px;
  margin-left: -5px;
  font-size: 14px;
  top: 350px;
  position: absolute;
}
.ranknametset p {
  padding-top: 40px;
  font-size: 16px;
}
.ranknametset .tuinum {
  height: 200px;
  width: 100%;
  text-align: center;
  line-height: 200px;
  font-size: 100px;
  font-weight: bold;
  color: #fc0000;
}
.ranknametset .thismonth {
  width: 100%;
  height: 85px;
  text-align: center;
  line-height: 0px;
  font-weight: bold;
  font-size: 16px;
}
.ranknametset table,
.ranknametset td,
.ranknametset th,
.ranknametset tr {
  font-weight: 600;
  border: none;
  color: black;
  font-size: 14px;
  text-align: center;
}
.ranknametset table {
  width: 400px;
}
.ranknametset td,
.ranknametset th {
  width: 400px;
  line-height: 27px;
}
.ranknametset tr .active {
  color: red;
}
.ranknametset tr .active1 {
  color: #117fae;
}
.ranknametset tr .active2 {
  color: #117fae;
}
.ranknametset tr .active3 {
  color: #117fae;
}
.titleall {
  height: 100px;
  width: 100%;
  color: red;
  font-size: 18px;
  font-weight: bold;
  line-height: 50px;
}
.userlink {
  width: 100%;
  height: 50px;
}
.btnb {
  cursor: pointer;
  padding-left: 15px;
  padding-right: 15px;
  width: 110px;
  height: 35px;
  border: 2px solid #cf302f;
  margin: 0 auto;
  font-size: 12px;
  text-align: center;
  line-height: 35px;
  border-radius: 4px;
}
.clickloginbtn {
  width: 350px;
  height: 45px;
  margin: 80px auto;
  line-height: 80px;
  color: white;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 5px;
  background: #2f63cd;
  line-height: 45px;
  border-radius: 4px;
  cursor: pointer;
}
.second-step {
  margin-top: 35px;
  margin-left: 20px;
  float: left;
  width: 410px;
  height: 325px;
  background-color: white;
  text-align: center;
  border: 5px solid black;
  position: relative;
}
