.tuijian-active .top-banner {
  margin: 20px auto 0;
  position: relative;
  width: 520px;
  height: 200px;
  background-image: url(../../img/activity/tuijian_03.png);
  text-align: center;
}
.tuijian-active .top-banner .time {
  font-size: 42px;
  color: #fff;
  line-height: 94px;
  font-weight: bold;
}
.tuijian-active .top-banner .tit {
  font-size: 32px;
  color: #a9231e;
  line-height: 45px;
  font-weight: bold;
}
.tuijian-active .top-banner .tip {
  font-size: 22px;
  color: #fff;
  line-height: 55px;
}
.tuijian-active .act-goods {
  overflow: auto;
  padding: 10px 0;
  border-radius: 6px;
  margin: 20px auto;
  width: 520px;
  background-color: #fff;
}
.tuijian-active .act-goods .goods-box {
  margin-top: 30px;
  float: left;
  width: 260px;
  height: 186px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 186px 186px;
  position: relative;
}
.tuijian-active .act-goods .goods-box.z1 {
  background-image: url(../../img/activity/tuij_01.jpg);
}
.tuijian-active .act-goods .goods-box.z2 {
  background-image: url(../../img/activity/tuij_02.jpg);
}
.tuijian-active .act-goods .goods-box.z3 {
  background-image: url(../../img/activity/tuij_03.jpg);
}
.tuijian-active .act-goods .goods-box.z4 {
  background-image: url(../../img/activity/tuij_04.jpg);
}
.tuijian-active .act-goods .goods-box.z5 {
  background-image: url(../../img/activity/tuij_05.jpg);
}
.tuijian-active .act-goods .goods-box .mingci {
  font-size: 24px;
  color: #a9231e;
  line-height: 30px;
  font-weight: bold;
  margin-top: -20px;
  text-align: center;
}
.tuijian-active .act-goods .goods-box .goodsname {
  height: 32px;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  text-align: center;
  color: #fff;
  width: 100%;
  font-weight: bold;
  font-size: 20px;
  line-height: 32px;
}
.tuijian-active .act-goods .goods-box .goodsname span {
  line-height: 32px;
}
.tuijian-active .ranktitle {
  text-align: center;
  line-height: 45px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  margin-top: -10px;
  z-index: 30;
  width: 120px;
  height: 45px;
  background: #cf302f;
  position: absolute;
}
.tuijian-active .ranknametset {
  position: absolute;
  z-index: 1;
  background-color: #fff;
  text-align: center;
  padding: 5px;
  position: relative;
}
.tuijian-active .ranknametset .tit {
  font-weight: bold;
  background-color: #eee;
  height: 35px;
  color: #fc0000;
  line-height: 35px;
  letter-spacing: 3px;
}
.tuijian-active .ranknametset p {
  padding: 10px 0;
  font-size: 16px;
}
.tuijian-active .ranknametset .tuinum {
  width: 100%;
  text-align: center;
  line-height: 60px;
  font-size: 40px;
  font-weight: bold;
  color: #fc0000;
}
.tuijian-active .ranknametset .thismonth {
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
}
.tuijian-active .ranknametset table,
.tuijian-active .ranknametset td,
.tuijian-active .ranknametset th,
.tuijian-active .ranknametset tr {
  font-weight: 600;
  border: none;
  color: black;
  font-size: 14px;
  text-align: center;
}
.tuijian-active .ranknametset td,
.tuijian-active .ranknametset th {
  width: 400px;
  line-height: 27px;
}
.tuijian-active .ranknametset tr .active {
  color: red;
}
.tuijian-active .ranknametset tr .active1 {
  color: #117fae;
}
.tuijian-active .ranknametset tr .active2 {
  color: #117fae;
}
.tuijian-active .ranknametset tr .active3 {
  color: #117fae;
}
.tuijian-active .titleall {
  height: 50px;
  width: 100%;
  color: red;
  font-size: 18px;
  font-weight: bold;
  line-height: 50px;
}
.tuijian-active .userlink {
  width: 100%;
  height: 50px;
}
.tuijian-active .btnb {
  cursor: pointer;
  padding-left: 15px;
  padding-right: 15px;
  width: 110px;
  height: 35px;
  color: #cf302f;
  border: 2px solid #cf302f;
  margin: 0 auto;
  font-size: 12px;
  text-align: center;
  line-height: 35px;
  border-radius: 4px;
}
.tuijian-active .clickloginbtn {
  width: 350px;
  height: 45px;
  margin: 10px auto;
  line-height: 80px;
  color: white;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 5px;
  background: #2f63cd;
  line-height: 45px;
  border-radius: 4px;
  cursor: pointer;
}
.tuijian-active .second-step {
  margin-top: 35px;
  margin-left: 20px;
  float: left;
  width: 410px;
  height: 325px;
  background-color: white;
  text-align: center;
  border: 5px solid black;
  position: relative;
}
